---
title: Landing
category: Home
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>:)</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		{% include header-no-title.html %}
		<div class="wrapper-splash">
			<div class="intro one-fourth">
				<img src="images/logo.png" alt="pencil">
				<h1>Hello! I'm Adam.</h1>
				<p> But a lot of people call me Noff. I’m a Product Designer and prototyper working at Uber in San Francisco.</p>
				<a class="button-intro" href="/work"><span>View Work</span></a>
			</div>
		</div>

		<!-- <canvas id="cvs"></canvas> -->

		{% include scripts.html %}
	</body>
</html>
