// old type
$brandonTextLight: 'brandon_text_light', Helvetica, 'sans serif';
$brandonTextRegular: 'brandon_text_regular', Helvetica, 'sans serif';
$brandonTextBold: 'brandon_text_medium', Helvetica, 'sans serif';

// new type

$bodyType: 400 1em/180% 'Lato', Helvetica;
$navType: 500 1.125em 'Lato', Helvetica;
$labelType: 700 0.6875em 'Lato', Helvetica;
$headlineType: 700 2em/163% 'Lato', Helvetica;
$tweetType: 300 1em/163% 'Lato', Helvetica;

//spacing
$blockSpace: 1.6%;
$headerSpace: 65px;
$headingBottom: 35px;

// breakpoints
$breakpointLarge: 1174px;
$breakpointMedium: 944px;
$breakpointSmall: 696px;

// animations
//used on project nav, work intro and blog intro
//transition: all $shortDuration ease; should be used for loading movement
//transition: all $longDuration $bezierAltTwo; should be used for highlighting

$loadedDistance: 20px;
$loadedStagger: .1s;
$longDuration: .8s;
$shortDuration: .4s;

// menu selector bezier
$bezier: cubic-bezier(0,.4,.5,1);

// everything else bezier
$bezierAltTwo: cubic-bezier(0,.46,.24,1);
// a simple ease should be used for items loading in, alttwo should be used for high leverage animations, like button transitions

// old colors
$charcoal: #6A6A6A;
$white: #FFFFFF;
$black: #000000;
$coral: #FF8969;
$yellow: #FCF100;
$lightGrey: #D7D7D7;
$canvasGrey: #E8E8E8;
$darkGrey: #3b3b3b;
$invisibleGrey: #525252;
$lightestGrey: #F9F9F9;


// new colors
$circleColor: #FF746F;
$squareColor: #FFFB6F;
$triangleColor: #FBEDBC;

$lightGreyType: #E9E9E9;
$darkGreyType: #b4b4b4;
$greyType: #cecece;
$hoverColor: #494949;

$siteWidth: 90%;
