// Colors
$salmon: #f0825f;
$darkBlue: #303d41;
$lightBlue: #586b6d;
$silver: #f0efed;
$white: #FFFFFF;
$black: #000000;
$landingGrey: #C6C6C6;

// Font family
$headerFont: 'apercubold';
$bodyFont: 'aperculight';
$subtextFont: 'aperculight_italic';
$workTitleFont: 'apercuregular';

// Font size
$headerFontSize: 1em;
$headerAltFontSize: 1.5em;
$blockFontSize: 1.7em;
$footerFontSize: 2em;
$bodyFontSize: 1em;
$subtextSize: .875em;


// Standardized sizes
$large: 4.25em;
$medium: 3.5625em;
$small: 1em;
$panelHeight: 100vh;
$calloutWidth: 36.875em;

// Blog variables

$paragraphBottom: 2em;
$blogPostBody: 1.125em;
