// site width
$siteWidth: 90%;

// new type
$bodyType: 400 1em/180% 'Lato', Helvetica;
$navType: 400 1.125em 'Lato', Helvetica;
$labelType: 700 0.6875em 'Lato', Helvetica;
$headlineType: 700 2em/163% 'Lato', Helvetica;
$tweetType: 400 1.125em/180% 'Lato', Helvetica;

//spacing
$headerSpace: 65px;
$headingBottom: 24px;

// breakpoints
$breakpointLarge: 1174px;
$breakpointMedium: 944px;
$breakpointSmall: 696px;

// animations
$loadedDistance: 20px;
$loadedStagger: .2s;
$longDuration: .8s;
$shortDuration: .4s;

// menu selector bezier
$bezier: cubic-bezier(0,.4,.5,1);

// everything else bezier
$bezierAltTwo: cubic-bezier(0,.46,.24,1);

// new colors
$circleColor: #FF746F;
$squareColor: #FFFB6F;
$triangleColor: #FFF4DE;
$white: #FFFFFF;
$black: #000000;

$lightGreyType: #E9E9E9;
$darkGreyType: #7F7F7F;
$greyType: #cecece;

$hoverColor: #191919;
