    </div>

  </body>
  <footer id="contact">
      <div class="badge">
          <img src="images/tin-can.svg" alt="Tin Can" />
          <h2>Contact</h2>
      </div>
      <ol>
          <li class="link-phone"><a href="tel:7203468711" class="link">720.346.8711</a></li>
          <li class="link-email"><a href="mailto:adam@noff.me" target="_blank" class="link">Email</a></li>
          <li class="link-twitter"><a href="https://twitter.com/ANoffsinger" target="_blank" class="link">Twitter</a></li>
          <li class="link-linkedin"><a href="https://www.linkedin.com/pub/adam-noffsinger/1a/5b6/46b" target="_blank" class="link">LinkedIn</a></li>
          <li class="link-instagram"><a href="http://instagram.com/anoffsinger" target="_blank" class="link">Instagram</a></li>
          <li class="link-github"><a href="https://github.com/anoffsinger" target="_blank" class="link">Github</a></li>
      </ol>
  </footer>
</html>
