<header class="header">
	<a href="/">
		<div class="header-logo">
			<div class="header-logo-circle"></div>
			<div class="header-logo-square"></div>
			<div class="header-logo-triangle"></div>
		</div>
	</a>


	<nav class="header-nav">
		<ul>
			<li><a class="header-nav-link" href="/about">About</a></li>
			<li><a class="header-nav-link" href="">Dribbble</a></li>
			<li><a class="header-nav-link" href="">Work</a></li>
		</ul>
	</nav>
	<!-- <button class="menu-selector">
		<div class="menu-top-bar"></div>
		<div class="menu-middle-bar"></div>
		<div class="menu-bottom-bar"></div>
	</button>
	{% include menu.html %}
	<h2>
		{% if page.showCategory == true %}
			<span>  {{ page.category }}</span>
		{% endif %}
	</h2> -->
</header>
