<nav id="menu">
	<ul class="menu-items">
		{% if page.category contains "Home" %}
		<li class="menu-no-hover"><a class="menu-active" href="/">Home</a></li>
		{% else %}
		<li><a class="menu-items-link" href="/">Home</a></li>
		{% endif %}
		{% if page.category contains "Work" or page.category contains "Work-Overview" %}
		<li class="menu-no-hover"><a class="menu-active" href="/work">Work</a></li>
		{% else %}
		<li><a class="menu-items-link" href="/work">Work</a></li>
		{% endif %}
		{% if page.category contains "Blog" or page.category contains "Blog-Overview" %}
		<li class="menu-no-hover"><a class="menu-active" href="/blog">Blog</a></li>
		{% else %}
		<li ><a class="menu-items-link" href="/blog">Blog</a></li>
		{% endif %}
		{% if page.category contains "About" %}
		<li class="menu-no-hover"><a class="menu-active" href="/about">About</a></li>
		{% else %}
		<li><a class="menu-items-link" href="/about">About</a></li>
		{% endif %}
	</ul>
</nav>
