<div class="project-nav">
	<div>
		<div class="project-nav-switcher">
			<a class="project-nav-back" href="cue-web.html" title="Previous Project"><span class="icon-arrow"></span></a>
			<a class="project-nav-next" href="crafty-namer.html" title="Next Project"><span class="icon-arrow"></span></a>
			<span class="project-nav-next-project">Title of Project</span>
		</div>
		<div class="project-nav-options">
			<a class="project-nav-all" href="crafty-namer.html" title="All Posts"><span class="icon-all"></span></a>
			<a class="project-nav-download" href="crafty-namer.html" title="Download Documentation"><span class="icon-link"></span></a>
			<a class="project-nav-link" href="crafty-namer.html" title="Download Documentation"><span class="icon-link"></span></a>
		</div>
	</div>
</div>
