<div class="project-nav">
	<div>
		<!-- <div class="project-nav-back">
			<a href="http://localhost:4000/work/">Back To All Work</a>
		</div> -->
		<div class="project-nav-switcher">
			{% if page.previous and page.previous.category contains "Work" %}
				<a class="project-nav-back" href="{{page.previous.url}}" title=""><span class="icon-previous"></span></a>
			{% else %}
				<a class="project-nav-inactive" href="#" title=""><span class="icon-previous"></span></a>
			{% endif %}
			{% if page.next and page.next.category contains "Work" %}
				<a class="project-nav-next" href="{{page.next.url}}" title=""><span class="icon-next"></span></a>
			{% else %}
				<a class="project-nav-inactive" href="#" title=""><span class="icon-next"></span></a>
			{% endif %}
			<div class="project-nav-switcher-titles">
				<span class="project-nav-previous-project">Previous: "{{"page.previous.title}}"</span>
				<span class="project-nav-next-project">Next: "{{page.next.title}}"</span>
			</div>
		</div>
		<div class="project-nav-options">
			{% if page.materials != null %}
				<a class="project-nav-get" href="{{ page.materials }}" title="Download Documentation">
					<span class="icon-get"></span>
					<div class="project-nav-get-tip">
						<span>Get Docs</span>
					</div>
				</a>
			{% else %}
				<a class="project-nav-inactive">
					<span class="icon-get"></span>
				</a>
			{% endif %}
			{% if page.link != null %}
				<a class="project-nav-link" href="{{ page.link }}" title="Download Documentation">
					<span class="icon-link"></span>
					<div class="project-nav-link-tip">
						<span>Visit Page</span>
					</div>
				</a>
			{% else %}
				<a class="project-nav-inactive">
					<span class="icon-link"></span>
				</a>
			{% endif %}
		</div>
	</div>
</div>
