<div class="project-nav">
	<div>
		<div class="project-nav-back">
			<a href="/work">All Work</a>
		</div>
		<div class="project-nav-options">
			{% if page.materials != null %}
				<a class="project-nav-options-get" href="{{ page.materials }}" title="Download Documentation">
					<span class="icon-get"></span>
					<div class="project-nav-options-get-tip">
						<span>Get Docs</span>
					</div>
				</a>
			{% else %}
				<a class="project-nav-options-inactive">
					<span class="icon-get"></span>
				</a>
			{% endif %}
			{% if page.link != null %}
				<a class="project-nav-options-link" href="{{ page.link }}" title="Download Documentation">
					<span class="icon-link"></span>
					<div class="project-nav-options-link-tip">
						<span>Visit Page</span>
					</div>
				</a>
			{% else %}
				<a class="project-nav-options-inactive">
					<span class="icon-link"></span>
				</a>
			{% endif %}
		</div>
	</div>
</div>
