		<nav id="menu">
			<div class="menu-overlay"></div>
			<ul class="menu-items">
				<li class="menu-item"><a href="http://anoffsinger.github.io/portfolio_v2/index.html">Home</a></li>
				<li class="menu-item"><a href="http://anoffsinger.github.io/portfolio_v2/work.html">Work</a></li>
				<li class="menu-item"><a href="http://anoffsinger.github.io/portfolio_v2/blog">Blog</a></li>
				<li class="menu-item"><a href="http://anoffsinger.github.io/portfolio_v2/about.html">About</a></li>
			</ul>
			<p class="menu-weather">San Francisco, CA / <span id="weather"></span></p>
		</nav>
