---
title: About
category: About
---
<!doctype html>
<html lang="en">
	{% include head.html %}
	<body>
		{% include header-title.html %}
		<div class="wrapper-site">
			<div class="content">
				<div>
					<img class="project-image" alt="Coit tower" src="http://localhost:4000/images/coit.jpg">
				</div>
                <p>Want to know more? Don’t bother reading this - email me and let’s get a drink. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco lorem laboris nisi ut aliquip ex ea commodo consequat. Ut enim ad minim veniam, quis nostrud exercitation.</p>
				<ul class="social-links">
					<li><a href="button-secondary">Link</a></li>
					<li><a href="button-secondary">Link</a></li>
					<li><a href="button-secondary">Link</a></li>
					<li><a href="button-secondary">Link</a></li>
				</ul>
			</div>
		</div>
        {% include scripts.html %}
	</body>
</html>
