---
layout: overview
---

		<h2 class="page-title">Blog</h2>

		{% for post in site.posts limit: 1 %}
		<div class="overview-primary">
			<img src="../images/test-pic.png" alt="" class=" excerpt-img one-half col">

			<div class="new-post-excerpt one-half col">
				<h2>{{ post.title }}</h2>
				<!-- <span>{{ post.date | date_to_long_string }}</span> -->
				<div>{{ post.content | truncatewords: 100 }}</div>
				<a class="button-test button--wayra" href="{{ post.url }}">Read Post</a>
			</div>
		</div>
		{% endfor %}

		{% for post in site.posts offset:1 limit: 10 %}
		<div class="overview-primary">
			<img src="../images/test-pic.png" alt="" class="excerpt-img one-half col">

			<div class="new-post-excerpt one-half col">
				<h2>{{ post.title }}</h2>
				<!-- <span>{{ post.date | date_to_long_string }}</span> -->
				<div>{{ post.content | truncatewords: 100 }}</div>
				<a class="button-test button--wayra" href="{{ post.url }}">Read Post</a>
			</div>
		</div>
		{% endfor %}
