---
title: All Blog Posts
showCategory: true
category: Blog
---
<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{% include header.html %}
		<div class="wrapper-site wrapper-empty">
			{% if site.categories.blog | size > 0 %}
				{% for post in site.posts limit: 10 %}
					{% if post.categories contains 'blog' %}
						<div class="blog-post-preview">
							<h2>{{ post.title }}</h2>
							<span>{{ post.date | date: "%D" }}</span>
							<div>{{ post.excerpt }}</div>
							<a class="button-secondary" href="{{ post.url }}">Read More</a>
						</div>
					{% endif %}
				{% endfor %}
			{% else %}
				<div class="notification">
					<p>No posts yet - I have a few in the pipeline right now. Stay tuned!</p>
					<button class="close">
						<div></div>
						<div></div>
						<div></div>
					</button>
				</div>
				<!-- <div class="blog-post-preview-empty">
					<p>Coming soon.</p>
				</div>
				<div class="blog-post-preview-empty">
					<p>Like, very soon.</p>
				</div>
				<div class="blog-post-preview-empty">
					<p>Seriously, I promise.</p>
				</div> -->
		{% endif %}
		</div>
		{% include footer.html %}
		{% include scripts.html %}
	</body>
</html>
