---
title: All Work
showCategory: true
category: Work
---
<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>

        <div class="wrapper-about">
            {% include header.html %}
            <ol class="work column-grid">
                {% for post in site.posts limit: 10 %}
                    {% if post.categories contains 'work' %}
                        <li class="one-third col work-item">
                            <a href="{{ post.url }}">
                                <img src="{{ post.thumbnail }}" class="work-item-img" alt="{{ post.thumbnailDesc }}">
                                <div class="work-item-desc">
                                    <div class="work-item-desc-content">
                                        <span>{{ post.title }}</span>
                                        <span>{{ post.skills }}</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
            {% include footer.html %}
        </div>

        {% include scripts.html %}
    </body>
</html>
