---
title: Work
category: Work
---
<!DOCTYPE html>
<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700' rel='stylesheet' type='text/css'>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Overview of work.">
        <meta property="og:title" content="Noff's Portfolio"/>
        <meta property="og:site_name" content="Noff's Portfolio"/>
        <meta property="og:image" content="http://noff.me/images/opengraph.png"/>
        <meta property="og:url" content="http://noff.me"/>
        <meta property="og:description" content="Overview of work."/>
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>

        <div class="wrapper-about">
            {% include header.html %}
            <ol class="work column-grid">
                {% for post in site.posts limit: 10 %}
                    {% if post.categories contains 'work' %}
                        <li class="one-third col work-item">
                            <a href="{{ post.url }}">
                                <img src="{{ post.thumbnail }}" class="work-item-img" alt="{{ post.thumbnailDesc }}">
                                <div class="work-item-desc">
                                    <div class="work-item-desc-content">
                                        <span>{{ post.title }}</span>
                                        <span>{{ post.skills }}</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
            {% include footer.html %}
        </div>

        {% include scripts.html %}
    </body>
</html>
