//Holds projects not featured on portfolio homepage

.all-work {
    @extend %clearfix;

    /* margin: $medium 0 0 0; */
    /* li {
        float: left;

        @media (max-width: 50em) {
            float: none;
        }
    }

    li:nth-of-type(1),
    li:nth-of-type(2),
    li:nth-of-type(3) {
        margin-bottom: $small;
    }

    li:nth-of-type(1),
    li:nth-of-type(2),
    li:nth-of-type(4),
    li:nth-of-type(5)   {
        margin-right: $small;
    } */

    @media (max-width: 65.625em) {
        max-width: 48.875em;
    }

    @media (max-width: 50em) {
        width: 100%;
        height: auto;
    }
}

/*BLUR*/
.workthing {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;


}

.workthing:hover {
  -webkit-filter: blur(2px);
  /* transform: scale(1.05) */

}

li.work-item {
    overflow: hidden;
    height: 371.625px;
}

.workthing {
    background-image: url("../images/cue-app-thumb.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
}
