.blog-post-preview {
	opacity: 0;
	transition: transform $longDuration $bezierAltTwo, opacity $longDuration ease;
	transform: translateY($loadedDistance);
	padding: 2.625em;
	height: auto;
	margin: $blockSpace auto $blockSpace auto;
	background-color: $lightestGrey;

	h2 {
		font-family: $brandonTextBold;
		font-size: 1.75em;
		color: $charcoal;
		line-height: 1.2em;
		margin-bottom: 0.3571428571em;
	}

	> span {
		font-size: 0.875em;
		color: $lightGrey;
		margin-bottom: 2.625em;
		display: block;
	}

	div {
		margin-bottom: 2.625em;

		p {
			font-family: $brandonTextLight;
			font-size: 1.125em;
			line-height: 144.444%;
		}
	}
}

.blog-post-preview:nth-of-type(1) {
	margin-top: 7em;
}

.blog-post-preview:last-of-type {
	margin-bottom: 0;
}

.blog-post-preview-empty {
	opacity: 0;
	transition: all $shortDuration ease;
	transform: translateY($loadedDistance);
	padding: 2.625em;
	height: 20.171875em;
	margin: $blockSpace auto $blockSpace auto;
	background-color: $lightestGrey;
	display: flex;
	align-items: center;
	position: relative;

	p {
		font-family: $brandonTextRegular;
		font-size: 1em;
		color: $lightGrey;
		width: 100%;
		margin: 0 auto;
		display: block;
		text-align: center;
	}
}

.blog-post-preview-empty:nth-of-type(1) {
	margin: 7em auto $blockSpace auto;
}
