// Buttons

.button-intro {
    position: relative;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    width: 85px;

    span {
        transition: all $duration $bezier;
        display: inline-block;
    }

    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 39%;
        opacity: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5.165px 0 5.165px 8.9px;
        border-color: transparent transparent transparent $yellow;
        -webkit-transition: all $duration $bezier;
        // -webkit-transition: all .3s cubic-bezier(1, .05, .85, 1);
        transform: rotate(-90deg);

    }

    &:before {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: $charcoal;
        -webkit-transition: all $duration $bezier;
        -webkit-transform-origin: 50% 0%;
        z-index: -1;
    }

    &:hover {

        span {
            transform: translateX(-10px);
            /* text-shadow: -20px -5px 0px #f4f4f4; */
        }

        &:before {
            transform: translateY(8px) translateX(-30px);
            background-color: $yellow;
            height: 45px;
            width: 145px;
        }

        &:after {
            opacity: 1;
            transform: translateX(9px);
            border-color: transparent transparent transparent $charcoal;
        }
    }
}

.button-secondary {
    font-family: $mainType, 'serif';
    color: $charcoal;
    font-size: 14px;
    position: relative;
    display: block;
    width: 68px;
    transition: all .4s;

    span {
        transition: all .4s;
        display: inline-block;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: $charcoal;
        -webkit-transition: all .4s;
        -webkit-transform-origin: 50% 0%;
        z-index: -1;
    }

    &:hover {

        span {
            transform: translateX(13px);
            transition: all .4s;
        }

        &:before {
            transform-origin: 0% 0%;
            transform: translateY(5px) scale(1.4, -10);
            background-color: $yellow;
        }

/*         &:after {
    opacity: 1;
    transform: translateX(9px);
    border-color: transparent transparent transparent $charcoal;
} */
    }
}
