.button-intro {
    position: relative;
    font-size: 19px;
    display: block;
    margin: 0 auto;
    width: 4.8421052632em;
    transform: translateY($loadedDistance);
    transition: all $longDuration $bezierAltTwo $loadedStagger*3;
    opacity: 0;

    span {
        transition: all .5s $bezierAltTwo;
        display: inline-block;
    }

    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 9px;
        opacity: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5.165px 0 5.165px 8.9px;
        border-color: transparent transparent transparent $charcoal;
        transition: all $longDuration $bezierAltTwo;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: -7px;
        left: 0;
        height: 0.1578947368em;
        width: 100%;
        background-color: $charcoal;
        transition: transform .8s $bezierAltTwo, height .4s $bezierAltTwo, width .4s $bezierAltTwo;
        z-index: -1;
    }

    &:hover {

        span {
            transform: translateX(-15px);
        }

        &:before {
            transform: translateX(20px);
            background-color: $yellow;
            height: 2.1052631579em;
            width: 5.2631578947em;
        }

        &:after {
            opacity: 1;
            transform: translateX(8px);
        }
    }
}

.button-secondary {
    font-family: $brandonTextRegular;
    color: $charcoal;
    display: inline-block;
    border-bottom: 3px solid $charcoal;
    transition: all .1s ease;

    &:hover {
        color: $lightGrey;
        border-color: $lightGrey;
    }
}
