.cue-demo-video {
    display: block;
    width: 100%;
    margin: 0 auto 3.125em auto;

    -webkit-filter: brightness(105%) contrast(100%) saturate(97%) hue-rotate(8deg);
    filter: brightness(105%) contrast(100%) saturate(97%) hue-rotate(8deg);
}
