.header {
	// @extend %clearfix;

	width: 100%;
	margin: 0 auto;
	height: 9.875em;

	//
	position: absolute;
	top: 0;
}

.header-logo {
	height: 20px;
	width: 80px;
	float: left;

	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.header-logo-circle {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #FF746F;
  border-radius: 10px;
}

.header-logo-square {
  position: absolute;
  left: 30px;
  height: 20px;
  width: 20px;
  background-color: #F6F24F;
  transition: all .8s cubic-bezier(0,.19,.09,.99);
  transform-origin: left center;
}

.header-logo-square-hovered {
  transform: translateX(-20px) scaleX(.9);
  width: 40px;
}

.header-logo-triangle {
  position: absolute;
  left: 60px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent #FFF4DE transparent;
  transition: all .8s cubic-bezier(0,.19,.09,.99);
}

.header-logo-triangle-hovered {
  transform: translateX(-14px) rotate(90deg);
}

.header-nav {
 	float: right;

	position: relative;
	top: 50%;
	transform: translateY(-50%);

	> ul {
		width: auto;

		li {
			display: block;
			float: right;
			margin-left: 2.5em;
		}
	}
}

.header-nav-link {
	font: $navType;
	letter-spacing: 1px;
	color: $darkGreyType;
	float: right;
	display: block;
}
