// header {
// 	transition: top 0.7s ease-in-out;
// }

.header-no-title {
	padding: 0 13.875% 0 13.875%;
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	top: 0;
	height: 7em;
	z-index: 2;
	display: flex;
	align-items: center;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;


	button {
		z-index: 3
	}

	nav {
		z-index: 2
	}
}

.header-title {
	position: absolute;
	top: 0;
	display: flex;
	padding: 0 13.875% 0 13.875%;
	width: 100%;
	height: 7em;
	z-index: 2;
	align-items: center;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;



	button {
		z-index: 3
	}

	nav {
		z-index: 2
	}

	h2 {
		display: block;
		// font-family: $brandonTextRegular;
		font-size: 1em;
		color: $coral;
		transition: all 600ms ease;
		transform: translateX(1.875em);
		opacity: 0;

		> span:nth-of-type(1) {
			color: $charcoal;
		}

		> span:nth-of-type(2) {
			color: $lightGrey;
		}
	}
}

.header-title-loaded {
	opacity: 1 !important;
	transform: translateX(0) !important;
}

.header {
	position: fixed;
	padding: 2.875em 0 0 0;
	width: 100%;
	left: 0;
	height: 7em;
}

// .nav-down {
// 	top: 0;
// }
//
// .nav-up {
// 	top: -100%;
// }

.header-menu {
	z-index: 1000;
	background-color: transparent;
}

.header-items {
	width: 85%;
	margin: 0 auto;
	transition: transform .5s ease;

	> h2 {
		font-size: .875em;
		color: $landingGrey;
		text-align: right;
		position: relative;
		float: right;
		width: 94%;
		padding-bottom: .3125em;
	}
}

.header-back {
	font-family: $workTitleFont;
	font-size: .875em;
	color: $landingGrey;
	margin-left: 6.25em;
	transition: color .2s ease;
}

.header-back:hover {
	color: $darkBlue;
}

@-webkit-keyframes grow {
    from { width: 0%; }
    to { width: 100%; }
}
