.intro-line {
	width: 60%;
	line-height: 1.75em;
	font-family: $bodyFont;
	font-size: $footerFontSize;
	color: $darkBlue;
	text-align: left;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin: auto;
	opacity: 0;

	// @media (max-width: 39.375em) {
	// 	font-size: $headerFontSize;
	// 	line-height: 3.1875em;
	// }

}

canvas{
	position: absolute;
	top: 0;
	z-index: 0;
	// vertical-align:bottom;
}

#particles-js{
	height:100vh;
	vertical-align: middle;
}
