.intro {
	> h1 {
		@extend %visually-hidden;
	}

	width: 49.2%;

	transition: transform .5s ease;

	@media (max-width: 1124px) {
		width: 70%;
	}

	@media (max-width: 594px) {
		width: 95%;
	}

}

.intro-line {
	font-size: 18px;
	color: $landingGrey;
	line-height: 1.75em;
	text-align: left;

	z-index: 2;
	margin-bottom: 2em;
/* 	opacity: 0; */

	> span {
		color: $darkBlue;
	}
}
