.intro {

	width: 45%;
	// height: 100vh;


	// @media (max-width: $breakpointLarge) {
	// 	width: 30%;
	// }
	//
	// @media (max-width: $breakpointMedium) {
	// 	width: 39%;
	// }
	//
	// @media (max-width: $breakpointSmall) {
	// 	width: 64%;
	// }

	// img {
	// 	display: block;
	// 	height: 2.75em;
	// 	width: .8125em;
	// 	margin: 0 auto 1.75em auto;
	// 	transform: translateY($loadedDistance);
	// 	transition: all $longDuration $bezierAltTwo;
	// 	opacity: 0;
	// }

	// h1 {
	// 	font-family: $brandonTextRegular;
	// 	font-size: 1.1875em;
	// 	color: $charcoal;
	// 	text-align: center;
	// 	margin-bottom: 1.75em;
	// 	transform: translateY($loadedDistance);
	// 	transition: all $longDuration $bezierAltTwo $loadedStagger;
	// 	opacity: 0;
	// }

	p {
		font: $headlineType;
		color: $lightGreyType;
		opacity: 0;
		// transform: translateY(40px);
		transition: all $longDuration $bezierAltTwo;

		// position: relative;
		// top: 50%;
		// transform: translateY(-50%);

		> a {
			transition: all $bezierAltTwo $shortDuration;
			color: $darkGreyType;
			&:hover {
				color: $hoverColor;
			}
		}


	}
}

.twitter-module {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 9.875em;
	width: 45%;
}

.twitter-getter {
	// position: absolute;
	// bottom: 0;
	// left: 0;
	font: $tweetType;
	color: $lightGreyType;
	width: 92%;
	float: left;
	// height: 9.875em;
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	> ul {

	}
}

.tweet {

	// position: relative;
	// top: 50%;
	// transform: translateY(-50%);
	> a {
		color: $darkGreyType;
		text-decoration: underline;
	}
	> img {
		max-height: 18px;
	}
}

.twitter-link {
	width: 8%;
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: block;

	> svg {
		> path {
			transition: fill $bezierAltTwo $shortDuration;
		}
	}
}

.twitter-link:hover {
	> svg {
		> path {
			fill: $hoverColor;

		}
	}
}
