.intro {
	margin: 0 auto;
	width: 23.8%;

	@media (max-width: 1174px) {
		width: 30%;
	}

	@media (max-width: 944px) {
		width: 39%;
	}

	@media (max-width: 696px) {
		width: 64%;
	}

	img {
		display: block;
		height: 2.75em;
		width: .8125em;
		margin: 0 auto 1.75em auto;
		transform: translateY(10px);
		transition: all $duration ease;
		opacity: 0;
	}

	h1 {
		font-family: $brandonTextRegular;
		font-size: 19px;
		color: $charcoal;
		text-align: center;
		margin-bottom: 1.75em;
		transform: translateY(10px);
		transition: all $duration ease .1s;
		opacity: 0;
	}

	p {
		font-size: 19px;
		color: $lightGrey;
		text-align: center;
		margin-bottom: 1.75em;
		line-height: 147.368%;
		transform: translateY(10px);
		transition: all $duration ease .2s;
		opacity: 0;
	}
}

.intro-loaded {
	transform: translateY(0px) !important;
	opacity: 1 !important;
}
