.menu-selector {
	display: none;
	width: 1.6363636364em;
	cursor: pointer;
	transition: transform $shortDuration $bezierAltTwo;
	border: none;
	background-color: transparent;
    overflow: hidden;

	float: right;

	position: relative;
	top: 50%;
	transform: translateY(-50%);

	@media (max-width: $breakpointSmall) {
		display: block;
	}
}

.menu-selector-open {
    overflow: visible;
}

@media (min-width: $breakpointSmall) {
	.menu-selector:hover {
	    .menu-top-bar:after {
	        transform: translateX(1.6363636364em);
	    }
	    .menu-middle-bar:after {
	        transform: translateX(1.6363636364em);
	    }
	    .menu-bottom-bar:after {
	        transform: translateX(1.6363636364em);
	    }
	}
}


.menu-top-bar,
.menu-middle-bar,
.menu-bottom-bar {
    position: relative;
    display: block;
	width: 1.6363636364em;
	height: 0.2727272727em;
	background-color: $charcoal;
	margin-bottom: 0.2727272727em;
	transition: all $shortDuration $bezierAltTwo;
	overflow: hidden;

	&:after {
		content: '';
        position: absolute;
        display: block;
        width: 1.6363636364em;
        height: 0.2727272727em;
        background-color: $lightGrey;
        top: 0;
		left: -1.6363636364em;
	}
}

.menu-top-bar {
	transform-origin: top left;

    &:after {
        transition: all $shortDuration $bezier;
    }
}

.menu-middle-bar {
	transition-property: opacity;
	transition-duration: 0.3s;

    &:after {
        transition: all $shortDuration $bezier .1s;
    }
}

.menu-bottom-bar {
	transform-origin: bottom left;

    &:after {
        transition: all $shortDuration $bezier .2s;
    }
}

.top-bar-close {
	transform: rotate(45deg);
}

.middle-bar-close {
	opacity: 0;
}

.bottom-bar-close {
	transform: rotate(-45deg);
}
