.no-scroll {
    overflow: hidden;
}

.menu-active:hover {
  transform: translateX(0px) !important;
  color: $landingGrey !important;
}

#menu {
	z-index: 1050;
	position: fixed;
    left: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
	padding-top: 1.2em;
	overflow: hidden !important;
	height: 100vh;
	background-color: $lightGrey;
	transition: transform .5s ease;

/* 	-webkit-box-shadow: inset -7px 0px 2px 5px rgba(224,224,224,0.5);
-moz-box-shadow: inset -7px 0px 2px 5px rgba(224,224,224,0.5);
box-shadow: inset -7px 0px 2px 5px rgba(224,224,224,0.5); */
}

.nav-open {
	-webkit-transform: translateX(250px);
}

.open {
	-webkit-transform: translateX(250px);
	/* pointer-events: none; */
}

.menu-selector-open {
	pointer-events: auto;
}

.menu-overlay {
	height: 110vh;
	-webkit-box-shadow: inset -7px 0px 2px 5px rgba(224,224,224,0.5);
	-moz-box-shadow: inset -7px 0px 2px 5px rgba(224,224,224,0.5);
	box-shadow: inset -7px 0px 2px 5px rgba(224,224,224,0.5);
	width: 100%;
	position: absolute;
	right: 0;
	z-index: 10000;
	pointer-events: none;
	top: -10px;
}

.menu-selector {
	display: block;
	width: 20px;
	cursor: pointer;
	float: left;
	opacity: 1;
	-webkit-transition: transform 300ms ease;
	border: none;
	background-color: transparent;
}

button:focus {
	outline: none;
}

.menu-item {
	display: block;
	position: relative;
	height: 4.5625em;
	width: 100%;
	font: 14px $mediumWeight;
	color: $mainGrey;
	opacity: 0;
	/* margin-left: 0.3125em; */

	-webkit-transition: all .2s ease;

	 &:hover {
		background-color: $highlight;
	}

	> a {
		display: block;
		height: 4.5625em;
		width: 100%;
		padding-top: 1.7em;
		-webkit-transition: transform .2s ease;

		&:hover {
			color: $white;
			transform: translateX(12px);

		}

		&::before {
			content: '';
			position: absolute;
			right: -20px;
			top: 31px;
			border-radius: 50%;
			width: 14px;
			height: 14px;
			background-color: $salmon;
		}

		&::after {

			content: '';
			opacity: 0;
			position: absolute;
			right: 72px;
			top: 35px;

            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 7px 12.1px 7px;
            border-color: transparent transparent $charcoal transparent;

			transition: transform .4s ease;
		}
	}
}

a:hover:after {
	opacity: 1;
	transform: translateX(15px) rotate(90deg);
	/* transform-origin: center; */
}

a.menu-active:hover:after {
	opacity: 0;
}

.slide-in {
	> li:nth-of-type(1) {
		padding-left: 20px;
		opacity: 1;
		transition: margin-left .2s ease .2s, opacity .2s ease .2s;
	}

	> li:nth-of-type(2) {
		padding-left: 20px;
		opacity: 1;
		transition: margin-left .2s ease .25s, opacity .2s ease .25s;
	}

	> li:nth-of-type(3) {
		padding-left: 20px;
		opacity: 1;
		transition: margin-left .2s ease .3s, opacity .2s ease .3s;
	}

	> li:nth-of-type(4) {
		padding-left: 20px;
		opacity: 1;
		transition: margin-left .2s ease .35s, opacity .2s ease .35s;
	}
}

.menu-active:before {
	animation-name: circlePop;
	animation-duration: .9s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-delay: .6s;

	@keyframes circlePop {
	    15%  {transform: translateX(-20px);}
	    30%  {transform: translateX(-55px);}
	    45%  {transform: translateX(-70px);}
		75%  {transform: translateX(-63px);}
	    100% {transform: translateX(-65px);}
	}
}

.menu-weather {
	position: absolute;
	bottom: 30px;
	margin: auto;
	font-family: 'aperculight';
	font-size: 14px;
	color: $landingGrey;
	left: 45px;
}

#weather {
	> p {
		display: inline;
		color: $salmon;
	}
}

.top-bar,
.middle-bar,
.bottom-bar {
	display: block;
	width: 20px;
	height: 3px;
	background-color: $landingGrey;
	margin-bottom: 4px;
	transition: transform 300ms cubic-bezier(1, 0, 0, 1), background-color 300ms ease;
	border-radius: 10px;
}

.top-bar, .bottom-bar {
	transform-origin: 100% 50%;
}

.middle-bar {
	transition-property: opacity;
	transition-duration: 0.6s;
}

.top-bar-close {
	transform: rotate(-45deg);
	background-color: $landingGrey;
}

.middle-bar-close {
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
}

.bottom-bar-close {
	transform: rotate(45deg);
	background-color: $landingGrey;
}
