/* .no-scroll {
    overflow: hidden;
} */

#menu {
	position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: $white;
    opacity: 0;
    padding: 0 13.875% 0 13.875%;
    z-index: 1;
    transition: all $duration;
    pointer-events: none;
}

.menu-visible {
    opacity: 1 !important;
    pointer-events: auto !important;
}

.menu-active {
    color: $lightGrey !important;
    pointer-events: none;

    &:before {
        content: '';
        height: 10px;
        width: 10px;
        background-color: $coral;
        position: absolute;
        opacity: 1;
        top: 14px;
        index: 1000;
        border-radius: 5px;
		left: -25px;

    //     animation-name: activeIndicator;
    //     animation-duration: $duration;
    //     animation-timing-function: ease;
    //     animation-fill-mode: forwards;
    //     animation-delay: $duration;
	//
    //     @keyframes activeIndicator {
    //         100% {transform: translateX(-25px); opacity: 1;}
    //     }
    }
}

.no-hover {
    &:hover {
        transform: translateX(0px) !important;
        &:after {
            opacity: 0 !important;
            transform: translateX(0px) !important;
            border-color: transparent transparent transparent transparent !important;
        }
    }
}

.nav-items {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.nav-items li {
    margin-bottom: 10px;
    display: block;
    width: 85px;
    transform: translateX(-10px);
    opacity: 0;

    a {
        font-size: 28px;
        font-family: $mainType;
        color: $charcoal;
    }

	&:after {
		content: '';
		position: absolute;
		right: -10px;
		top: 17px;
		opacity: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5.165px 0 5.165px 8.9px;
		border-color: transparent transparent transparent $lightGrey;
		-webkit-transition: all $duration ease;
	}
}

.nav-items li:nth-of-type(1) {
    transition: $duration transform ease;
}

.nav-items li:nth-of-type(2) {
    transition: $duration all ease .1s;
}

.nav-items li:nth-of-type(3) {
    transition: $duration all ease .2s;
}

.nav-items li:nth-of-type(4) {
    transition: $duration all ease .3s;
}

li.nav-item-loaded {
    opacity: 1;
    transform: translateX(0px);

    &:hover {
        // transform: translateX(10px);
		> a {
			color: $lightGrey;
		}

        &:after {
            opacity: 1;
            // transform: translateX(9px);
            // border-color: transparent transparent transparent $charcoal;
        }
    }
}
