#menu {
	border-right: 1px solid #C6C6C6;
	z-index: 3;
	position: fixed;
    left: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 3.56em;
}

#menu li {
	font: $headerFontSize $headerFont;
	text-transform: uppercase;
	letter-spacing: .25em;
	margin-bottom: 1em;
	border-bottom: 1px solid #f8f8f8;
	display: block;
	padding-bottom: 1.2em;
	padding-top: .3em;
	vertical-align: middle;
	position: relative;

}

.menu-item {
	color: $landingGrey;
	-webkit-transition: color .1s ease;
	transition: color .1s ease;
	-webkit-transition: transform .1s ease;
	transition: transform .1s ease;
}

.menu-item:hover {
	color: $lightBlue;
	transform: translateX(10px);
}

@keyframes circlePop {
    0%   {transform: scale(1);}
    25%  {transform: scale(1.3);}
    50%  {transform: scale(1);}
    100% {transform: scale(1);}
}

a.menu-active {
	padding-left: 1.5em;
	color: $darkBlue;
}

.menu-active:before {
	content: '';
	border-radius: 50%;
	width: 12px;
	height: 12px;
	background-color: $salmon;
	position: absolute;
	top: 19%;
	left: 0;
	animation-name: circlePop;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: .3s;
	animation-iteration-count: 1;
}

.main-content {
	position: relative;
	height: 100vh;
	padding: $medium;
}

.secondary-content {
	opacity: 0;
	-webkit-transition: opacity .25s ease-in-out;
}

.menu-selector {
	display: block;
	width: 20px;
	cursor: pointer;
	z-index: 3;
	position: absolute;
	opacity: 0;
}

menu-selector-post {
	display: block;
	width: 20px;
	cursor: pointer;
	z-index: 3;
	position: fixed;
	opacity: 0;
}

.top-bar,
.middle-bar,
.bottom-bar {
	display: block;
	width: 20px;
	height: 3px;
	background-color: $landingGrey;
	margin-bottom: 4px;
	transition: transform 0.4s cubic-bezier(1, 0, 0, 1) 0, background-color 0.6s ease 0;
}

.top-bar, .bottom-bar {
	transform-origin: 100% 50%;
}

.middle-bar {
	transition-property: opacity;
	transition-duration: 0.6s;
}

.top-bar-close {
	transform: rotate(-45deg);
	background-color: $white;
}

.middle-bar-close {
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
}

.bottom-bar-close {
	transform: rotate(45deg);
	background-color: $white;
}
