.notification {
	width: 100%;
	min-height: 46px;
	background-color: $coral;
	position: absolute;
	top: 7em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	transform: translateY(-20px);
	transition: all $shortDuration $bezierAltTwo;
	opacity: 0;

	padding: 20px;
	border-radius: 4px;

	p {
		color: $white;
	}

	button {
		@extend %clearfix;

		display: block;
		cursor: pointer;
		border: none;
		width: 1.6363636364em;
		height: 1.3636363636em;
		position: relative;
		background-color: transparent;

		&:hover {
			div {
				background-color: $lightestGrey;
			}
		}
		div {
			position: absolute;
			display: block;
			width: 1.6363636364em;
			height: 0.2727272727em;
			background-color: $white;
			top: 6px;
			left: 0;


		}

		div:nth-last-of-type(1) {
			transform: rotate(45deg);
			transform-origin: 50% 50%;
		}

		div:nth-last-of-type(2) {
			transform: rotate(-45deg);
			transform-origin: 50% 50%;
		}
	}
}
