.page-title {
	font-family: $workTitleFont;
	font-size: 14px;
	color: $landingGrey;
	text-align: right;
	margin-bottom: $large;
	padding-bottom: 5px;
	position: relative;
}

.page-title:before {
	content: "";
	position: absolute;
	/* width: 100%; */
	height: 1px;
	bottom: 0;
	right: 0;
	background-color: #ececec;
	-webkit-animation: grow 1s cubic-bezier(.71,.01,.25,.99) forwards;
	float: right;
}

@-webkit-keyframes grow {
    from { width: 0%; }
    to { width: 100%; }
}
