.post {
	width: 100%;;
	margin: 0 auto;
}

.post > p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: $blogPostBody;
	margin: 0 auto $paragraphBottom auto;
	width: 50%;
	line-height: 1.50em;
}

.post > figure {
	width: 100%;
}

.post > figure > img {
	position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
}

.post-title {
	position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
	top: calc(-68vh + 68%);
	background-color: black;
	height: 500px;
	z-index: -1;

	> h1 {
		color: white;
	}
}
