.project-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $darkGrey;
    height: 44px;
    padding: 11px 7.5% 0 7.5%;

    > div {

        @extend %clearfix;

        width: 85%;
        margin: 0 auto;
    }
}

.project-nav-switcher {
    float: left;

    a {
        margin-right: 30px;
    }
}

.project-nav-options {
    float: right;
    a {
        margin-left: 30px;
    }
}

.project-nav-next, .project-nav-back, .project-nav-get, .project-nav-link {
    float: left;

    > span {
        font-size: 15px;
        color: $white;
    }

    &:hover {
        > span {
            color: $yellow;
        }
    }
}

span.icon-link {
    font-size: 17px;
}

.project-nav-next-project {
    color: $white;
    font-size: 14px;
}
