.project-image {
    display: block;
    width: 100%;
    margin-bottom: $headerSpace;
}

.project-image-half-left {
    width: 49.2%;
    float: left;
}

.project-image-half-right {
    width: 49.2%;
    float: right;
}

.project-image-small-container {
    @extend %clearfix;

    width: 100%;
    margin: 0 auto $headerSpace auto;
}
