.work-item > a {

	display: block;
	height: 100%;

}

.work-item > a:hover {

	> div:nth-of-type(2) {
		transform: translateY(-50px);
		-webkit-transition: opacity .1s ease-in-out;
		opacity: 1;
	}

/* 	> div:nth-of-type(1) {
	transform: scale(1.01);
} */
}

.work-item > div:nth-of-type(1) {
	background-image: url("../images/cue-app-thumb.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: contain;
	width: 100%;
	height: 100%;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-o-transition: all .1s ease;
	-ms-transition: all .1s ease;
	transition: all .1s ease;
}

.work-item:hover {

	> div:nth-of-type(1) {
		-webkit-filter: blur(3px);
	}
}

a > div.testing {
	-webkit-transition: all .1s ease;
	height: 50px;
	border-top: 1px solid rgba(255, 255, 255, .50);
	padding: 14px 0 15px 0px;
	width: 85%;
	display: block;
	margin: 0 auto;
	opacity: 0;

	> span {
		color: white;
		font-family: $workTitleFont;
		font-size: 14px;
	}

	> span:nth-of-type(1) {
		float: left;
	}

	> span:nth-of-type(2) {
		float: right;
	}
}
