.work-post-intro {
	height: 100vh;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;

	@media (max-width: $breakpointSmall) {
		height: auto;
		margin: 9em auto;
	}
}

.work-post-intro-desc {
	display: block;
	width: 60%;

	h2 {
		font: $headlineType;
		color: $greyType;
		margin-bottom: $headingBottom;
	}

	p {
		color: $greyType;
		font: $bodyType;


		margin-bottom: 1.125em;
		// transform: translateY($loadedDistance);
		// transition: transform $longDuration $bezierAltTwo $loadedStagger, opacity $longDuration ease $loadedStagger;
		// opacity: 0;

		a {
			color: inherit;
			transition: all .1s ease;
			font-family: $brandonTextBold;

			&:hover {
				color: $lightGrey;
			}
		}
	}
}
