.work-title {
	font-family: $workTitleFont;
	font-size: 14px;
	color: $landingGrey;
	/* border-bottom: 1px solid #F0F0F0; */
	text-align: right;
	margin-bottom: 69px;
	padding-bottom: 5px;
	position: relative;
/* 	border-bottom-width: 15px; */
}

.work-title:before {
	content: "";
	position: absolute;
	/* width: 100%; */
	height: 1px;
	bottom: 0;
	right: 0;
	background-color: #ececec;
	-webkit-animation: grow 1s cubic-bezier(.71,.01,.25,.99) forwards;
	float: right;
}

.work-item {

	> img {
		max-width: 100%;
	}

}

@-webkit-keyframes grow {
    from { width: 0%; }
    to { width: 100%; }
}
