.work {
	@extend %clearfix;

/*     @media (max-width: 65.625em) {
    max-width: 48.875em;
}

@media (max-width: 50em) {
    width: 100%;
    height: auto;
} */
}

.work-item {
    overflow: hidden;
	position: relative;

	> a {
		display: block;
	}
}

.work-img {

/* 	background-image: url("../images/cue-app-thumb.png");
background-repeat: no-repeat;
background-size: contain;
 */
	display: block;
	width: 100%;

	@include transition(all, .5s);
}

.work-desc {
	width: 85%;
	display: block;
	position: absolute;
	left: 0;
  	right: 0;
  	margin: 0 auto;

	@include transition(all, .15s);

	> span {
		color: white;
		font-family: $workTitleFont;
		font-size: 14px;
		position: absolute;
	}

	> span:nth-of-type(1) {
		left: 0;
		top: 70px;
		@include transition(all, .3s);
	}

	> span:nth-of-type(2) {
		right: 0;
		top: 70px;
		@include transition(all, .5s);
	}
}

.work-item:hover {

	.work-desc {
		transform: translateY(-50px);

		> span:nth-of-type(1) {
			transform: translateY(-54px);
		}

		> span:nth-of-type(2) {
			transform: translateY(-54px);
		}
	}

	.work-img {
		-webkit-filter: blur(5px);
		/* transform: scale(1.1); */
	}

	.work-desc:before {
		content: "";
		position: absolute;
		height: 1px;
		top: 0;
		left: 0;
		background-color: white;
		-webkit-animation: grow .5s cubic-bezier(.71,.01,.25,.99) forwards;
		float: right;
	}
}

.animate {
	transform: translateY(-100px);
	-webkit-transition: translateY 2s ease 1s;
}
