.wrapper-site {
	position: relative;
	width: 85%;
	margin: 0 auto $extraLarge auto;
}

.wrapper-splash {
	position: relative;
	width: 85%;
	height: 100vh;
	display: flex;
	align-items: center;
	margin: 0 auto;
}
