.wrapper-site {
	@extend %clearfix;
	position: relative;
	width: 85%;
	margin: 0 auto;

	@media (max-width: 696px) {
		width: 100%;
	}
}

.wrapper-splash {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	margin: 0 auto;
}
