.overview-primary {
	@extend %clearfix;

	height: auto;
	border-bottom: 1px solid #f4f4f4;
	display: block;
	margin: 0 auto $large auto;
	padding-bottom: $large;
}

.excerpt-img {
	height: 354px;
	margin-bottom: 0;
}

.new-post-excerpt > h2 {
	font-family: $workTitleFont, sans-serif;
	font-size: 2em;
	color: #5E5E5E;
	letter-spacing: normal;
	line-height: 1.2em;
	margin-bottom: 22px;
}

.new-post-excerpt > span {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: .75em;
	color: #999999;
	margin-bottom: 1.8em;
	display: block;
}

.new-post-excerpt > div {

	> p {
		font-family: 'Open Sans', sans-serif;
		font-weight: 100;
		font-size: 1em;
		color: #999999;
		margin-bottom: 1.5em;
	}

	margin-bottom: 32px;
}

.leader-text {
	width: 47.5%;
	float: right;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: $bodyFontSize;

	> p {
		font-size: 1.125em;
	}
}

.secondary-post > h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 2em;
	color: #5E5E5E;
	letter-spacing: normal;
	line-height: 1.2em;
	margin: 0 auto .15em auto;
}

.secondary-post > span {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: .75em;
	color: #999999;
	margin: 0 auto 1.8em auto;
	display: block;
}

.secondary-post > p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 1em;
	color: #5E5E5E;
	margin-bottom: 1.5em
}

.old-posts {
	width: 90%;
	margin: 0 auto;
	padding-top: 3em;
	padding-bottom: 3em;
}
