.blog-post-preview {
	@extend %clearfix;

	opacity: 0;
	transition: all .15s ease-out;

	padding: 42px;
	height: auto;
	margin: 0 auto $large auto;
	background-color: $lightestGrey;

	h2 {
		font-size: 28px;
		color: $charcoal;
		line-height: 1.2em;
		margin-bottom: 10px
	}

	> span {
		font-size: 13px;
		color: $charcoal;
		margin-bottom: 42px;
		display: block;
	}

	div {

		margin-bottom: 42px;

		p {
			font-size: 16px;
			color: $charcoal;
			line-height: 150%;
		}
	}
}
