.post-preview {
	@extend %clearfix;

	opacity: 0;
	transition: all .15s ease-out;

	padding: 3%;
	height: auto;
	margin: 0 auto $large auto;
	background-color: $lightestGrey;

	> h2 {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 24px;
		color: $longformCopy;
		line-height: 1.2em;
	}

	> span {
		font-family: 'Open Sans', sans-serif;
		font-weight: 100;
		font-size: 11px;
		color: $longformCopy;
		margin-bottom: 42px;
		display: block;
	}

	> div {

		margin-bottom: 42px;

		> p {
			font-family: 'Open Sans', sans-serif;
			font-weight: 100;
			font-size: 14px;
			color: $longformCopy;
		}
	}
}
