{% include head.html %}

{% include side-nav.html %}

			<div class="content">

				<div class="content-overlay"></div>

				<header class="header header-menu">
                    <div class="header-items">
                        <button class="menu-selector">
            				<div class="top-bar"></div>
            				<div class="middle-bar"></div>
            				<div class="bottom-bar"></div>
            			</button>
                    </div>
                </header>

                <header class="header header-title">
                    <div class="header-items">
                        <h2>Work</h2>
                    </div>
                </header>

				<div class="main">
					{{ content }}
				</div>

{% include footer.html %}
