{% include head.html %}
	{% include side-nav.html %}

	<div class="overlay push"></div>
	<div class="content-post push">
		<a href="#menu" class="header-menu menu-selector">
			<div class="top-bar bar"></div>
			<div class="middle-bar bar"></div>
			<div class="bottom-bar bar"></div>
		</a>

		<header class="post-header check-me">

		</header>

		<div class="post-content">
			<h1>{{ page.title }}</h1>
			<span>{{ page.date | date_to_long_string }}</span>

			{{ content }}

	{% include footer.html %}
