.content {

	> p {
		font-family: $brandonTextLight;
		font-size: 1.125em;
		margin: 0 auto 1.7777777778em auto;
		line-height: 144.444%;
		width: 80%;
	}

	> p:last-of-type {
		margin-bottom: 0;
	}

	div:last-of-type {
		.project-image:last-of-type {
			margin-bottom: 0;
		}
	}

	@media (max-width: $breakpointSmall) {
		width: 100%;
	}

	.project-image-small-container:last-of-type {
		margin-bottom: 0;
	}
}

.blog-post-date {
	font-family: $brandonTextRegular;
	font-size: 0.875em;
	color: $lightGrey;
}
