.loaded {
	transform: translateY(0px) !important;
	opacity: 1 !important;
}

.loaded-x {
	transform: translateX(0px) !important;
	opacity: 1 !important;
}

.loaded-o {
	opacity: 1;
}

.header-main-loaded {
    opacity: 1;
    transform: translateY(0px);

	&:after {
		width: 75%;
	}
}
