.loaded {
	transform: translateY(0px) !important;
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.loaded-x {
	transform: translateX(0px) !important;
	opacity: 1 !important;
	transform: translate3d(0, 0, 0);
}

.loaded-o {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

.header-main-loaded {
    opacity: 1;

    transform: translateY(0px);
	// transform: translate3d(0, 0, 0);
	// backface-visibility: hidden;
	// perspective: 1000;

	&:after {
		// width: calc(100% + 20px);
		// transform: translate3d(0, 0, 0);
		transform: translateX(20px);
	}
}
