.no-scroll {
	overflow: hidden;

	@media (max-width: $breakpointMedium) {
		overflow: visible;
		position: fixed;
		width: 100%;
	}

	@media (max-width: $breakpointSmall) {
		overflow: visible;
		position: fixed;
		width: 100%;
	}
}
