.no-scroll {
	overflow: hidden;

	@media (max-width: $breakpointMedium) {
		overflow: visible;
		position: fixed;
	}

	@media (max-width: $breakpointSmall) {
		overflow: visible;
		position: fixed;
	}
}
