// Panel layout

#particles-js{
    height:100vh;
    vertical-align: middle;
    z-index: 1;
}

#landing, #intro, #work, {
    height: $panelHeight;
}

#landing {
    background-color: $white;
    padding-top: 14.375em;

    > h1 {
        @extend %visually-hidden;
    }
}

#intro {
    background-color: $darkBlue;
    padding-top: 8.4375em;
}

#work {
    padding-top: $medium;
    background-color: $white;
    height: $panelHeight;
}

#contact {
    height: auto;
}

#all-work {
    height: auto;
}
