* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body {
	font-size: 100%;
	height: 100%;
	font-family: $brandonTextRegular;
	background-color: $white;
	-webkit-font-smoothing: subpixel-antialiased;

	padding: 1.25em;
	box-shadow: inset $lightGreyType 0 0 0 20px;
}

footer {
	// padding: $headerSpace 0;
	width: 100%;
	// background-color: $darkGrey;
	// opacity: 0;
	height: 9.875em;
	// padding-bottom: 4.8em;
	border-top: 1px solid $lightGreyType;
	// transition: opacity .01s linear .5s;

	font: $bodyType;
	color: #cecece;

	span:nth-of-type(1) {
		float: left;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	span:nth-of-type(2) {
		float: right;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: $charcoal;
}

button {
	&:focus {
		outline: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $brandonTextBold;
	font-weight: normal;
}
