* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body {
	font-size: 100%;
	min-height: 100vh;
	font-family: 'Lato', Helvetica;
	background-color: $white;
	padding: 12px;
	box-shadow: inset $lightGreyType 0 0 0 12px;

	@media (max-width: $breakpointSmall) {
		box-shadow: none;
		padding: 0
	}
}

footer {
	width: 100%;
	opacity: 0;
	height: 9.875em;
	border-top: 1px solid $greyType;
	transition: opacity .01s linear .5s;
	font: $bodyType;
	color: $greyType;
	margin-top: 3.875em;

	span:nth-of-type(1) {
		float: left;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	span:nth-of-type(2) {
		float: right;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	&:focus {
		outline: none;
	}
}
