* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 100%;
	font-family: $brandonTextRegular;
	background-color: $white;
	-webkit-font-smoothing: subpixel-antialiased;
}

footer {
	padding: $headerSpace 0;
	width: 100%;
	background-color: $darkGrey;
	opacity: 0;
	transition: opacity .01s linear .5s; 

	span {
		font-family: $brandonTextBold;
		color: $invisibleGrey;
		margin: 0 auto;
		text-align: center;
		display: block;
	}
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: $charcoal;
}

button {
	&:focus {
		outline: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $brandonTextBold;
	font-weight: normal;
}
