//Font faces

@font-face {
    font-family: 'brandon_text_light';
    src: url('../fonts/hvd_fonts_-_brandontext-light-webfont.eot');
    src: url('../fonts/hvd_fonts_-_brandontext-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hvd_fonts_-_brandontext-light-webfont.woff2') format('woff2'),
         url('../fonts/hvd_fonts_-_brandontext-light-webfont.woff') format('woff'),
         url('../fonts/hvd_fonts_-_brandontext-light-webfont.ttf') format('truetype'),
         url('../fonts/hvd_fonts_-_brandontext-light-webfont.svg#brandon_textlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_text_regular';
    src: url('../fonts/hvd_fonts_-_brandontext-regular-webfont.eot');
    src: url('../fonts/hvd_fonts_-_brandontext-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hvd_fonts_-_brandontext-regular-webfont.woff2') format('woff2'),
         url('../fonts/hvd_fonts_-_brandontext-regular-webfont.woff') format('woff'),
         url('../fonts/hvd_fonts_-_brandontext-regular-webfont.ttf') format('truetype'),
         url('../fonts/hvd_fonts_-_brandontext-regular-webfont.svg#brandon_text_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'apercumedium';
    src: url('../fonts/apercu_medium-webfont.eot');
    src: url('../fonts/apercu_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu_medium-webfont.woff2') format('woff2'),
         url('../fonts/apercu_medium-webfont.woff') format('woff'),
         url('../fonts/apercu_medium-webfont.ttf') format('truetype'),
         url('../fonts/apercu_medium-webfont.svg#apercumedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercubold';
    src: url('../fonts/apercu_bold-webfont.eot');
    src: url('../fonts/apercu_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu_bold-webfont.woff') format('woff'),
         url('../fonts/apercu_bold-webfont.ttf') format('truetype'),
         url('../fonts/apercu_bold-webfont.svg#apercubold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aperculight_italic';
    src: url('../fonts/apercu_light_italic-webfont.eot');
    src: url('../fonts/apercu_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu_light_italic-webfont.woff') format('woff'),
         url('../fonts/apercu_light_italic-webfont.ttf') format('truetype'),
         url('../fonts/apercu_light_italic-webfont.svg#aperculight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aperculight';
    src: url('../fonts/apercu_light-webfont.eot');
    src: url('../fonts/apercu_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu_light-webfont.woff') format('woff'),
         url('../fonts/apercu_light-webfont.ttf') format('truetype'),
         url('../fonts/apercu_light-webfont.svg#aperculight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercuregular';
    src: url('../fonts/apercu_regular-webfont.eot');
    src: url('../fonts/apercu_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/apercu_regular-webfont.woff') format('woff'),
         url('../fonts/apercu_regular-webfont.ttf') format('truetype'),
         url('../fonts/apercu_regular-webfont.svg#apercuregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?42528682');
  src: url('../fonts/fontello.eot?42528682#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?42528682') format('woff'),
       url('../fonts/fontello.ttf?42528682') format('truetype'),
       url('../fonts/fontello.svg?42528682#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?42528682#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;

  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */


  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */


  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-all:before { content: '\e800'; } /* '' */
.icon-arrow:before { content: '\e801'; } /* '' */
.icon-get:before { content: '\e802'; } /* '' */
.icon-link:before { content: '\e803'; } /* '' */
