.header-main {
	color: $charcoal;
	font-size: 1.75em;
	font-family: $brandonTextBold;
	position: relative;
	opacity: 0;
    transform: translateY($loadedDistance);
	transition: all $longDuration $bezierAltTwo, opacity $longDuration ease;
	display: inline-block;

	&:after {
		content: '';
		position: absolute;
		left: -10px;
		top: -1px;
		width: 10%;
		height: 1.4285714286em;
		background-color: $yellow;
		transition: all $longDuration ease;

		z-index: -1000;
	}
}
