.header-main {
	color: $charcoal;
	font-size: 1.75em;
	font-family: $brandonTextBold;
	position: relative;
	opacity: 0;
    transform: translateY(10px);
	transition: all $duration ease;

	&:after {
		content: '';
		position: absolute;
		left: -8px;
		top: -1px;
		width: 5.3571428571em;
		height: 1.4285714286em;
		background-color: $yellow;
		transition: all $highlightDuration $bezierAltTwo;
		transform-origin: left center;
		z-index: -1000;
	}
}
